<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head >
	<meta charset="UTF-8" />
	<title >订单详情</title >
</head >
<body >
<table th:object="${order}">
	<tr>
		<td>收货人姓名:</td>
		<td th:field="*{customer.customerName}"></td>
	</tr>
	<tr>
		<td>收货人电话:</td>
		<td th:field="*{customer.tel}"></td>
	</tr>
	<tr>
		<td>收货人地址:</td>
		<td th:field="*{customer.cusAddress}"></td>
	</tr>
	<tr>
		<td>订单状态:</td>
		<td th:text="*{orderState}"
	</tr>
	<tr>
		<td>总金额:</td>
		<td th:text="*{totalPrice}"></td>
	</tr>
</table>
</body >
</html >